
.vs/Graduation Project/FileContentIndex/4a22ae66-4fcb-4661-b9cc-70cec5918519.vsidx
*.vsidx
.vs/ProjectEvaluation/graduation project.metadata.v5.1
.vs/ProjectEvaluation/graduation project.projects.v5.1
  .vs/Graduation Project/v17/.suo
.vs/Graduation Project/v17/.suo
.vs/Graduation Project/v17/.suo
*.cache
*.cache
